header{
    width: 1100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style: none;
}

li{
    padding-left: 10px;
    color: gray;
}

a{
    text-decoration: none;
}

#purple_nav_link{
    color: indigo;
}

a:visited{
    color:gray;
}

#purple_nav_link :visited{
    color:indigo;
}

a:hover{
    font-weight:bold;
}

main{
    width: 1100px;
    margin:0 auto;
}

h1{
    color:#D05270;
}

h2{
    color: gray;
}

#article_top{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}

#boy_pic{
    height: 300px;
}

#article_top p{
    width:650px;
    text-align: justify;
}

#reseaux{
    width: 650px;
}

#reseaux ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#reseaux img{
    width: 200px;
}

#reseaux li{
    padding-left: 0;
    padding-right: 20px;
}

#reseaux li:nth-last-child(1){
    padding-right: 0px;
}

#grille{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 1100px;
}

#grille img{
    width: 100px;
}

#grille p{
    font-size: 13px;
}